main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.carousel {
  margin: auto;
}

.custom-caption {
  color: black;
  margin: 0.5rem;
  width: 300px;
}

.carousel img {
  max-height: 300px;
  max-width: 350px;
  border-radius: 2%;
}
